
body {
  font-family: 'Poller One', cursive;
  background: rgba(red, greem,blue, 1); 
}
img {
  animation: dance 4s infinite;
  -webkit-animation: dance 4s infinite;
  -moz-animation: dance 4s infinite;
  position: absolute;
  top: 200px;
  left: 400px;
}