body {
    text-align: center;
    background: url("https://drive.google.com/uc?id=0B6He2qbngtTPYzhaSW5kYnh6aUU");
    background-size: cover;
    background-position: center;
    color: white;
    font-family: helvetica;
    font-size: 18;
}

p {
    font-size: 22px;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"] {
    background: red;
    color: white;
}