    header {
      text-align: center;
      background: url("https://drive.google.com/uc?id=1OWwJpNWVaTrYtinLVY6DwV32fVsouj1NkQ");
      background-size: cover;
      color: yellow;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 55px;
    }
    img {
      margin: 80px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: arial;
      font-size: 17px;
      color: blue;
    }
    article {
      max-width: 475px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {

      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }